
    p{
        color: blue;
        font-size: medium;
        font-family: 'Courier New', Courier, monospace;
        font-style: italic;
        background-color: aqua;
        width: 400px;
    }

    h3{
        color:rebeccapurple;
    }